.banner {
  position: relative;
  // height: 350px;
  // background-image: url('https://cdn.dribbble.com/users/910614/screenshots/14886640/media/556f63e3bc9d6ae7cba39c12659aeef6.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 150px;
  .person {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-color: #fff;
    .avatar {
      position: relative;
      top: -70px;
      margin-left: 40px;
      width: 200px;
      height: 200px;
      border-radius: 20px;
    }
    .content {
      flex: 1;
      .title {
        overflow: hidden;
        height: 50px;
        line-height: 50px;
        margin-top: 10px;
        margin-left: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 28px;
        color: #000;
      }
      .description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        height: 64px;
        line-height: 32px;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 18px;
        color: #333;
      }
    } 
  }
}